@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-sm-12 padding">
            <div class="title-box">
                <h5> Ultimas Postagens </h5>
            </div>
            <div class="white-box">
                <div class="content"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 padding">
            <div class="title-box">
                <h5> Agendamentos </h5>
            </div>
            <div class="white-third-box">                   
                <div class="content h80">
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>                 
                </div>
                <div class="h20">
                    <div class="grid-container">
                        <a class="button grid-item w75"  asp-area="" asp-controller="Home" asp-action="AgendarSala"> Salas </a>
                        <a class="button grid-item w75"  asp-area="" asp-controller="Home" asp-action="AgendarEquipamento"> Equipamentos </a>
                    </div>
                </div> 
            </div>
            <div class="title-box">
                <h5> Ramais </h5>
            </div> 
            <div class="white-third-box">
                <div class="content"></div>
            </div>
            <div class="title-box">
                <h5> Restaurante </h5>
            </div> 
            <div class="white-third-box">
                <div class="content"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 padding">            
            <div class="title-box">
                <h5> Avisos Importantes</h5>
            </div>
            <div class="white-box">
                <div class="content"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 padding">            
            <div class="title-box">
                <h5> Eventos </h5>
            </div>
            <div class="white-half-box">
                <div class="content"></div>
            </div>
            <div class="title-box">
                <h5> Documentos Sistema de Gestão</h5>
            </div> 
            <div class="white-third-box">
                <div class="content">
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                    <div class="item"> <p>Exemplo</p> </div>
                </div>         
            </div>
        </div>
    </div>
</div>
